/.EntityConverter.java._trace
/.EnumConverter.java._trace
/.ServiceConverter.java._trace
/.EntityConverter.xtendbin
/.EnumConverter.xtendbin
/.ServiceConverter.xtendbin
/EntityConverter.java
/EnumConverter.java
/ServiceConverter.java
