/.ProjectTest.java._trace
/.ProjectTest.xtendbin
/ProjectTest.java
/.InfrastructureTest.java._trace
/.InterfaceTest.java._trace
/.DomainTest.java._trace
/.ApplicationTest.java._trace
/.DomainTest.xtendbin
/.InfrastructureTest.xtendbin
/.InterfaceTest.xtendbin
/DomainTest.java
/InfrastructureTest.java
/InterfaceTest.java
/.TableObjectsTest.java._trace
/.ApplicationTest.xtendbin
/.TableObjectsTest.xtendbin
/ApplicationTest.java
/TableObjectsTest.java
