/.CompleteInterfaceTest.java._trace
/.CompleteProjectTest.java._trace
/.CompleteInfrastructureTest.java._trace
/.AppTest.java._trace
/.InfrastructureTest.java._trace
/.ProjectTest.java._trace
/.ApplicationTest.java._trace
/.DomainTest.java._trace
/.InterfaceTest.java._trace
/.AbstractTestClass.java._trace
