/.ProjectFactory.java._trace
/.infrastructureFactory.java._trace
/.InfrastructureFactory.java._trace
/.DomainFactory.java._trace
/.ApplicationFactory.java._trace
/.InterfaceFactory.java._trace
/.FactoryBeforeTest.java._trace
