/.MetaModel.java._trace
/.MetaModel.xtendbin
/MetaModel.java
/.Infrastructure.java._trace
/.InfrastructureConversor.java._trace
/.InfrastructureConverter.java._trace
/.InterfaceConverter.java._trace
/.DomainConverter.java._trace
